---
import Work from "../../components/expPages/Work";
import Layout from "../../layouts/Layout.astro";
import { experiences } from "../../components/Experience";
import MyCarousel from "../../components/MyCarousel";

export function getStaticPaths() {
  const result = experiences.map((e, i) => {
    return {
      params: {
        work: e.work,
      },
      props: e,
    };
  });
  return result;
}

const data = Astro.props;
---

<Layout title="Wei Shen | Fullstack Developer">
  <main>
    <div class="container mx-auto flex flex-col py-6">
      <div class="font-sans text-2xl tracking-tight font-medium">
        <p>
          {data.company}
          {data.years ? `(${data.years})` : ""}
        </p>
      </div>

      <div class="mt-2 font-mono text-2xl">
        {data.projectName}
      </div>

      {
        Array.isArray(data.imgs) && data.imgs.length > 0 ? (
          <div class="h-[660px]">
            <MyCarousel imgs={data.imgs} client:load />
          </div>
        ) : null
      }

      <div class="text-xl tracking-wide text-justify">
        {data.description ? <p>{data.description}</p> : null}
      </div>
      <div class="grid grid-flow-row-dense grid-cols-12 mt-5 mb-5 job-desc">
        <div class="col-span-8">
          {
            data.contributionPoints ? (
              <div class="flex flex-col">
                <div class="text-xl font-bold tracking-wide">
                  RESPONSIBILITIES / CONTRIBUTION
                </div>
                <div class="pl-6 text-lg mt-1">
                  {Array.isArray(data.contributionPoints) &&
                  data.contributionPoints.length > 0 ? (
                    <ul class="list-disc">
                      {data.contributionPoints.map((p: string) => {
                        return <li>{p} </li>;
                      })}
                    </ul>
                  ) : null}
                </div>
              </div>
            ) : null
          }
        </div>
        <div class="ccol-span-4">
          {
            (Array.isArray(data.detailsTech) && data.detailsTech.length) > 0 ? (
              <div class="flex flex-col">
                <div class="text-xl font-bold tracking-wide">TECHNOLOGIES</div>
                <div class="mt-1 text-lg">
                  {data.detailsTech.map((detail: string) => {
                    return <div>{detail}</div>;
                  })}
                </div>
              </div>
            ) : null
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
